body .react-spinner_bar {
	background-color: black;
}

.toolbar > form,
.toolbar > form {
	margin-top: 3px;
	margin-bottom: 3px;
}

.clear-button {
	margin-left: 10px;
	margin-right: 10px;
}

.points-import-form {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.points-import-form > div{
	display: inline-block;
}


.points-import-spinner {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: -12px;
	width: 36px;
	height: 36px;
}

.points-save-form {
	float: right;
	margin-right: 10px;
}

.points-save-form input{
	margin-left: 10px;
	margin-right: 10px;
}