body {
	margin: 20px 5px 0 5px;
}

body .react-spinner_bar {
	background-color: black;
}

.toolbar > form,
.toolbar > form {
	margin-top: 3px;
	margin-bottom: 3px;
}

.clear-button {
	margin-left: 10px;
	margin-right: 10px;
}

.points-import-form {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.points-import-form > div{
	display: inline-block;
}


.points-import-spinner {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: -12px;
	width: 36px;
	height: 36px;
}

.points-save-form {
	float: right;
}

.points-save-form .form-control,
.points-save-form .btn-group{
	margin-left: 10px;
	margin-right: 10px;
}


.points-viz-container {
	border: solid 1px black;
}

.points-viz-container .square {
	stroke: red;
	stroke-width: 2px;
	fill: none;
}

.points-viz-container .square.active {
	stroke: black;
	stroke-width: 4px;
	z-index:5;
}
